{{ define "main" }}
  <main role="main">
    {{ partial "header.html" . }}
    {{ .Content }}
    <ul class="books full-bleed" style="margin-top: 1em;">
    {{ range .Pages.ByTitle }}
      <li>
        {{ if isset .Params "cover" }}
          {{ $cover := .Resources.GetMatch (printf "*%s*" (.Params.cover | safeURL)) }}
          {{ if and (eq $cover.ResourceType "image") (ne $cover.MediaType.SubType "svg") }}
            {{ $cover = $cover.Resize "600x" }}
          {{ end }}
          <a class="book-cover" href="{{ .RelPermalink }}">
            <img src="{{ $cover.RelPermalink }}" loading="lazy" alt="Book cover for {{ .Title | markdownify }}" />
          </a>
        {{ end }}
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h3>
        {{ with .GetTerms "authors" }}
          <cite class="byline">
            {{- "" -}}by {{ "" -}}
            {{- range $i, $author := . -}}
              {{- if $i -}}, {{ end -}}
              {{ $author.LinkTitle }}
            {{- end -}}
          </cite>
        {{ end }}
        {{ with .Description -}}
          <p>{{ . | markdownify }}<p>
        {{- end }}
      </li>
    {{ end }}
    </ul>
  </main>
{{ end }}
