{{ define "main" }}
  <main aria-role="main">
    <h1>{{ .Title }}</h1>
    {{ with .Description -}}
      <p>{{ . | markdownify }}<p>
    {{- end }}
    {{ .Content }}
    <ul class="books wide">
    {{ range .Pages }}
      <li>
        {{ if isset .Params "cover" }}
          {{ $cover := .Page.Resources.GetMatch (printf "*%s*" .Params.cover) }}
          <a class="book-cover" href="{{ .RelPermalink }}">
            <img src="{{ $cover.RelPermalink }}" alt="" />
          </a>
        {{ end }}
        <h3>
          <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
        </h3>
        {{ with .Params.authors }}
          <cite class="byline">
            {{- "" -}}by {{ "" -}}
            {{- range $i, $author := . -}}
              {{- if $i -}}, {{ end -}}
              {{ $author }}
            {{- end -}}
          </cite>
        {{ end }}
        {{ with .Description -}}
          <p>{{ . | markdownify }}<p>
        {{- end }}
      </li>
    {{ end }}
    </ul>
  </main>
{{ end }}
