{{ define "main" }}
  <main aria-role="main">
    <h1><a href="{{ .Params.link }}">{{ .Title }}</a></h1>
    <div class="meta">
      {{ with .Params.author }}
        <cite class="byline">by <span class="author">{{ . }}</span></cite>
      {{ end }}
      {{ with .Params.source }}
        <span class="source">from <span class="source-title">{{ . }}</span></span>
      {{ end }}
      {{ with .Params.link }}
        {{ $url := urls.Parse . }}
        <span class="source-url">{{ strings.TrimPrefix "www." $url.Host }}</span>
      {{ end }}
      {{ with .Params.topics }}
        <ul class="topics">
          {{ range . }}
            <li><a href="/topics/{{ . | urlize }}/">{{ . }}</a> </li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
    {{ .Content }}
  </main>
{{ end }}
