{{ define "main" }}
  <main aria-role="main">
    <h1><a class="external" href="{{ .Params.link }}">{{ .Title | markdownify }}</a></h1>
    <div class="meta">
      {{ with .Params.authors }}
        <cite class="byline">
          {{- "" -}}by {{ "" -}}
          {{- range $i, $author := . -}}
            {{- if $i -}}, {{ end -}}
            <a class="author" href="/authors/{{ $author | urlize }}/">{{ $author }}</a>
          {{- end -}}
        </cite>
      {{ end }}
      {{ with .Params.sources }}
        <span class="source">from <a class="source-title" href="/sources/{{ . | urlize }}/">{{ . }}</a></span>
      {{ end }}
      {{ with .Params.link }}
        {{ $url := urls.Parse . }}
        <small class="source-url">{{ strings.TrimPrefix "www." $url.Host }}</small>
      {{ end }}
      {{ with .Params.topics }}
        <ul class="tags">
          {{ range . }}
            <li><a href="/topics/{{ . | urlize }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
      {{ end }}
    </div>
    {{ .Content }}
  </main>
{{ end }}
