{{ define "main" }}
  <main aria-role="main">
    <div class="wide">
      <h1>{{ .Title }}</h1>
      {{ with .Description -}}
        <p>{{ . | markdownify }}<p>
      {{- end }}
      {{ .Content }}
      <div class="row compact medium-content">
        {{ range .Pages -}}
          <article>
            {{ if isset .Params "cover" }}
              {{ partial "illo.html" . }}
            {{ end }}
            <h3 style="margin-top: 0.75rem">
              <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
            </h3>
            {{ with .Description -}}
              <p>{{ . | markdownify }}<p>
            {{- end }}
            <ul class="muted">
            {{ range .Pages }}
              <li>
                <a href="{{.RelPermalink}}">{{ .Title | markdownify }}</a>
              </li>
            {{ end }}
            </ul>
          </article>
        {{ end }}
      </div>
    </div>
  </main>
{{ end }}
