{{ define "main" }}
  <main aria-role="main">
    <div class="wide">
      <h1>{{ .Title }}</h1>
      {{ with .Description -}}
        <p>{{ . | markdownify }}<p>
      {{- end }}
      {{ .Content }}
      <div class="stack separated">
      {{ range .Pages }}
        <article>
          <h3>
            <a href="{{.RelPermalink}}">{{ .Title | markdownify }}</a>
          </h3>
          {{ with .Description -}}
            <p>{{ . | markdownify }}<p>
          {{- end }}
          {{ if isset .Params "novice" -}}
            {{ partial "rubric/row.html" . }}
          {{- end }}
        </article>
      {{ end }}
      </div>
    </div>
  </main>
{{ end }}
