nav.breadcrumb {
  color: var(--color-muted);
  margin: -2rem 0 2rem;
  padding: 0.25rem 0;
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.breadcrumb li {
  display: flex;
}
.breadcrumb li:not(:last-child)::after {
  content: '→';
  margin: 0 0.5em;
}
.breadcrumb a {
  border: none;
  text-decoration: underline;
}
.breadcrumb .active a {
  text-decoration: none;
}
