ul.courses {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-auto-rows: minmax(8rem, auto);
  gap: 1em;
}
.courses li {
  display: contents;
}
.course {
  background: var(--fill);
  border: solid 2px var(--stroke);
  border-radius: 5px;
  box-shadow: inset 0 0 0 3px var(--background);
  color: var(--color);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: transform 300ms;
}
a.course:hover {
  transform: scale(1.05);
  border-color: var(--stroke);
}
a.course::after {
  display: none;
}

.uxui0818 {
  --color: white;
  --fill: #c059af;
  --stroke: #009;
}

.uxui1018 {
  --color: white;
  --fill: #599dc0;
  --stroke: #260099;
}

.uxui0119 {
  --color: white;
  --fill: #cc334d;
  --stroke: #330099;
}

.uxui0419 {
  --color: white;
  --fill: #cc005f;
  --stroke: #16181d;
}

.uxui0619 {
  --transparent: transparent;
  --goldenrod: #ffc003;
  --pumpkin: #f58c0c;
  --indigo: #6018f0;
  --white: #ffffff;
  --pale: #eef2f6;
  --slate: #465967;
  --dark: #273039;
  --black: #000000;

  --color: var(--black);
  --fill: var(--goldenrod);
  --stroke: var(--slate);
}

.uxui1019 {
  --white: #FFFFFF;
  --pale: #EEF2F6;
  --slate: #495764;
  --black: #000000;
  --royal: #007FFF;
  --plum: hsl( 230, 95%, 45%);

  --color: var(--white);
  --fill: var(--royal);
  --stroke: var(--slate);
}

.uxui0120 {
  --white: #FFFFFF;
  --pale: #EEF2F6;
  --slate: #495764;
  --black: #000000;
  --royal: #007FFF;
  --plum: hsl( 230, 95%, 45%);

  --color: var(--white);
  --fill: var(--plum);
  --stroke: var(--slate);
}
