@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Sans Regular'),
       url('/fonts/alegreya-sans/AlegreyaSans-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Alegreya Sans Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 200;
  src: local('Alegreya Sans Thin'),
       url('/fonts/alegreya-sans/AlegreyaSans-Thin.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 200;
  src: local('Alegreya Sans Thin Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-ThinItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Alegreya Sans Light'),
       url('/fonts/alegreya-sans/AlegreyaSans-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Alegreya Sans Light Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-LightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 500;
  src: local('Alegreya Sans Medium'),
       url('/fonts/alegreya-sans/AlegreyaSans-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 500;
  src: local('Alegreya Sans Medium Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-MediumItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Alegreya Sans Bold'),
       url('/fonts/alegreya-sans/AlegreyaSans-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Alegreya Sans Bold Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold'),
       url('/fonts/alegreya-sans/AlegreyaSans-ExtraBold.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 800;
  src: local('Alegreya Sans ExtraBold Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-ExtraBoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: normal;
  font-weight: 900;
  src: local('Alegreya Sans Black'),
       url('/fonts/alegreya-sans/AlegreyaSans-Black.woff2') format('woff2');
}

@font-face {
  font-family: 'Alegreya Sans';
  font-style: italic;
  font-weight: 900;
  src: local('Alegreya Sans Black Italic'),
       url('/fonts/alegreya-sans/AlegreyaSans-BlackItalic.woff2') format('woff2');
}
