@font-face {
  font-family: 'Source Serif';
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/source-serif/SourceSerif4Variable-Roman.otf.woff2') format('woff2-variations');
}

@font-face {
  font-family: 'Source Serif';
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url('/fonts/source-serif/SourceSerif4Variable-Italic.otf.woff2') format('woff2-variations');
}
