<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <header role="banner">
      <h1><a href="https://nevanscott.com/">Nevan</a>’s UX/UI classes in Barcelona 👋</h1>
      <nav class="primary">
        {{ partial "nav.html" . }}
        {{ partial "breadcrumb.html" . }}
      </nav>
    </header>
    {{ block "main" . }}
      <main aria-role="main">
        {{ .Content }}
      </main>
    {{ end }}
  </body>
</html>
