<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ $style := resources.Get "main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <header role="banner">
      <nav class="primary">
        <h1>
          <a href="{{ .Site.BaseURL }}">Learn UX/UI</a> in Barcelona
          <small>👋 with <a href="https://nevanscott.com/">Nevan Scott</a></small>
        </h1>
        {{ partial "nav.html" . }}
      </nav>
      {{ if not .IsHome -}}
        <nav class="breadcrumb">
          {{ partial "breadcrumb.html" . }}
        </nav>
      {{- end }}
    </header>
    {{ block "main" . }}
      <main aria-role="main">
        {{ .Content }}
      </main>
    {{ end }}
  </body>
</html>
