<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>
      {{- block "title" . -}}
        {{- with .Title }}{{ . }} • {{ end -}}
      {{ .Site.Title }}
      {{- end -}}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{if .IsPage}}{{ .Summary }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}{{ end }}" />
    {{ template "_internal/opengraph.html" . }}
    {{ template "_internal/twitter_cards.html" . }}
    {{ $style := resources.Get "main.css" | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}">
  </head>
  <body>
    <header role="banner">
      <nav class="primary">
        <div class="logo">
          <a href="{{ .Site.Home.RelPermalink }}">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 85 35"><g fill="var(--logo-fill)" fill-rule="nonzero" stroke="var(--logo-stroke)" stroke-width="var(--logo-stroke-width)"><path d="M9.68 3.04V20.9c0 .75.03 1.41.44 1.83.34.35.92.47 1.76.47s1.42-.12 1.76-.47c.4-.42.44-1.08.44-1.83h0V3.04h8.08v18.02c0 3.12-.71 5.52-2.5 7.13-1.56 1.42-4.01 2.26-7.78 2.26-3.77 0-6.22-.84-7.78-2.26-1.79-1.6-2.5-4.01-2.5-7.13h0V3.04h8.08zm51.64 0V20.9c0 .75.03 1.41.44 1.83.34.35.92.47 1.76.47s1.42-.12 1.76-.47c.4-.42.44-1.08.44-1.83h0V3.04h8.08v18.02c0 3.12-.71 5.52-2.5 7.13-1.56 1.42-4.01 2.26-7.78 2.26-3.77 0-6.22-.84-7.78-2.26-1.79-1.6-2.5-4.01-2.5-7.13h0V3.04h8.08zm-30.52 0l2.36 5.92 2.36-5.92h9.33l-6.3 12.77L44.77 30h-8.93l-2.68-6.77L30.48 30h-8.93l6.19-14.2-6.26-12.76h9.32zm52.28 0V30H75V3.04h8.08z"/><path d="M55.59 1.12l-7.84 32.72h-7.82l7.84-32.72h7.82z"/></g></svg>
            <div>
              <div>Learn User Experience and </div>
              <div>Interaction Design in Barcelona</div>
            </div>
          </a>
        </div>
        {{ partial "nav.html" . }}
      </nav>
    </header>
    {{ if not .IsHome -}}
      <nav class="breadcrumb">
        {{ partial "breadcrumb.html" . }}
      </nav>
    {{- end }}
    {{ block "main" . }}
      <main role="main">
        {{ .Content }}
      </main>
    {{ end }}
    <footer role="contentinfo">
      <p>
        <a href="https://github.com/nevanscott/uxui.cat">Github repo</a>
        ·
        © 2018–{{ now.Format "2006"}}
        <a href="http://nevanscott.com/">Nevan Scott</a>.
      </p>
      <p>This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/pjax/pjax.min.js"></script>
    <script>
      var pjax = new Pjax({
        selectors: [
          "title",
          "meta[name=description]",
          "meta[property=og:title]",
          "meta[property=og:description]",
          "meta[property=og:type]",
          "meta[property=og:url]",
          "meta[property=og:site_name]",
          "meta[property=twitter:card]",
          "meta[property=twitter:title]",
          "meta[property=twitter:description]",
          "meta[property=article:published_time]",
          "meta[property=article:modified_time]",
          "nav.primary",
          "nav.breadcrumb",
          "[role=main]"
        ],
        cacheBust: false
      });
    </script>
  </body>
</html>
