{{ define "main" }}
  <main aria-role="main">
    {{ .Content }}
    <h2>Blog</h2>
    <ul>
    {{ range where site.RegularPages "Type" "blog" }}
      <li>
        <h3>
          <a href="{{.Permalink}}">{{ .Title | markdownify }}</a>
          {{ with .Date }}
            <small>{{ .Format "January 2, 2006" }}</small>
          {{ end }}
        </h3>
        {{ with .Description -}}
          <p>{{ . | markdownify }}<p>
        {{- end }}
      </li>
    {{ end }}
    </ul>

  </main>
{{ end }}
