{{ define "title" }}{{.Title}} // {{ .Site.Title }}{{ end }}

{{ define "main" }}
<main>
  <article>
    <header>
      <h1>{{ .Title | markdownify }}</h1>
    </header>
    {{ .Content }}
  </article>
  {{ .Section }}
  <br>
  {{ .CurrentSection }}
  <br>
  {{ .Parent }}
  <ul>
    {{ range .Pages }}
    <li>
      <a href="{{.Permalink}}">{{ .Title | markdownify }}</a>
      {{ with .Description }}
      <div>{{ . | markdownify }}</div>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</main>
{{ end }}
