{{ define "main" }}
  <main role="main">
    <header class="hero full-bleed">
      {{ if isset .Params "cover" }}
        {{ $cover := .Page.Resources.GetMatch (printf "*%s*" .Params.cover) }}
        <a class="book-cover" href="{{ .Params.link }}">
          <img src="{{ $cover.RelPermalink }}" alt="" />
        </a>
      {{ end }}
      {{ if isset .Params "link" -}}
        <h1><a class="external" href="{{ .Params.link }}">{{ .Title | markdownify }}</a></h1>
      {{- else -}}
        <h1>{{ .Title | markdownify }}</h1>
      {{- end }}
      {{ with .Description }}
        <p>{{ . | markdownify }}</p>
      {{ end }}
      {{ with .PublishDate }}
        <p>
          <small>Published {{ .Format "January 2, 2006" }}</small>
        </p>
      {{ end }}
      {{ partial "meta.html" . }}
      {{ partial "topics.html" . }}
      {{ if isset .Params "video" }}
        {{ partial "video.html" . }}
      {{ end }}
    </header>
    {{ with .Params.objectives }}
  		<h2>Learning Objectives</h2>
  		<ul>
        {{ range . }}
          <li>{{ . | markdownify }}</li>
        {{ end }}
  		</ul>
  	{{ end }}
    {{ .Content }}
    {{ if isset .Params "novice" -}}
      {{ partial "rubric/row.html" . }}
    {{- end }}
    {{ if isset .Params "video" }}
      {{ with .PrevInSection }}
        <p>
          <a href="{{ .Permalink }}"><strong>Up Next:</strong> {{ .Title }}</a>
        </p>
      {{ end }}
    {{ end }}
    <footer>
      <p><small>Last updated {{ .Lastmod.Format "January 2, 2006" }}</small></p>
    </footer>
    {{ partial "related.html" . }}
  </main>
{{ end }}
