{{ define "main" }}
  <main aria-role="main">
    <header>
      {{ if isset .Params "link" -}}
        <h1><a class="external" href="{{ .Params.link }}">{{ .Title | markdownify }}</a></h1>
      {{- else -}}
        <h1>{{ .Title | markdownify }}</h1>
      {{- end }}
      {{ with .Description }}
        <p>{{ . | markdownify }}</p>
      {{ end }}
      {{ with .PublishDate }}
        <p>
          <small>Published {{ .Format "January 2, 2006" }}</small>
        </p>
      {{ end }}
    </header>
    {{ partial "meta.html" . }}
    {{ .Content }}
    {{ if isset .Params "novice" -}}
      {{ partial "rubric/row.html" . }}
    {{- end }}
    <footer>
      <p><small>Last updated {{ .Lastmod.Format "January 2, 2006" }}</small></p>
    </footer>
    {{ partial "related.html" . }}
  </main>
{{ end }}
