{{ define "main" }}
  <main role="main">
    {{ partial "header.html" . }}
    {{ .Content }}
    <ul class="wide compact row wide-content">
    {{ range .Pages.ByTitle }}
      <li>
        <article>
          <h3>
            <a href="{{.RelPermalink}}">{{ .Title | markdownify }}</a>
          </h3>
          {{ with .Description -}}
            <p>{{ . | markdownify }}<p>
          {{- end }}
          {{ with .Params.see -}}
            <p>See <strong>{{ . | markdownify }}</strong>.<p>
          {{- end }}
        </article>
      </li>
    {{ end }}
    </ul>
  </main>
{{ end }}
