{{ define "main" }}
  <main role="main">
    <h1>{{ .Title }}</h1>
    {{ with .Description -}}
      <p>{{ . | markdownify }}<p>
    {{- end }}
    {{ .Content }}
    <ul class="wide compact row wide-content">
    {{ range .Pages.ByTitle }}
      <li>
        <article>
          <h3>
            <a href="{{.RelPermalink}}">{{ .Title | markdownify }}</a>
          </h3>
          {{ with .Description -}}
            <p>{{ . | markdownify }}<p>
          {{- end }}
        </article>
      </li>
    {{ end }}
    </ul>
  </main>
{{ end }}
