body {
  background-color: var(--background);
  color: var(--color);
  font-family: var(--font-text);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
  line-height: var(--line-height);
  scroll-behavior: smooth;
  font-variant-numeric: lining-nums;
}

::-webkit-scrollbar {
    width: 8px;
}
* {
    scrollbar-width: auto;
    scrollbar-color: var(--stroke) var(--callout);
}
::-webkit-scrollbar-track {
    background: var(--callout);
    padding: 0 1px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--stroke);
    border-radius: 6px;
    border: 0;
}

a {
  color: inherit;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--link);
}
a:hover {
  text-decoration-color: var(--active);
}
h1 a, h2 a, h3 a {
  text-underline-offset: 3px;
  text-decoration-thickness: 3px;
}
a.external::after {
  content: "↗";
  color: var(--active);
  font-size: smaller;
  font-weight: 700;
  margin-left: 0.25em;
}


aside {
  color: var(--color-muted);
  font-size: smaller;
}
small {
  color: var(--color-muted);
  font-weight: 400;
  font-family: var(--font-caption);
}
mark {
  background-color: var(--highlight);
  color: var(--highlight-text);
  padding: 0 2px 1px;
  font-weight: bolder;
}
h1, h2, h3, h4, h5, h6 {
  line-height: var(--line-height-headline);
  font-optical-sizing: auto;
  font-weight: 600;
}
h1 {
  font-family: var(--font-title);
  font-weight: 700;
}
h2 {
  font-family: var(--font-headline);
  margin-top: 2.5em;
}
h3 {
  font-family: var(--font-subhead);
  margin-top: 1.5em;
}
p, ul, ol, blockquote, h1, h2, h3, h4, h5, h6 {
  box-sizing: border-box;
  max-width: 44rem;
}
header p {
  font-size: 1.075em;
  font-weight: 450;
}

ol {
  list-style: decimal;
}
ol ol {
  list-style: lower-alpha;
}


table {
  border-collapse: collapse;
  margin: -1em;
}
th, td {
  padding: 1em;
}
th {
  text-align: left;
}
td {
  vertical-align: top;
}

figure {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}
