main {
  display: grid;
  grid-template-columns: 1fr auto 2fr;
  grid-gap: 0 1em;
  padding: 1rem;
}
@media screen and (min-width: 55ch) {
  main {
    padding: 5vw;
  }
}

main > * {
  grid-column: 2;
}

main > .full-bleed {
  grid-column: 1 / span 3;
}

main > .wide {
  grid-column: 2 / span 2;
}

main > aside {
  grid-column: 3;
}
