:root {
  --font-sans: "Inter", system-ui, sans-serif;
  --font-serif: "Fraunces", ui-serif, Georgia, serif;
  font-feature-settings: "liga" 1, "calt" 1; /* fix for Chrome */

  --font-size: calc(0.2vw + 1.2em);

  --line-height: 1.4;
  --line-height-headline: 1.2;

  --font-text: var(--font-sans);
  --font-title: var(--font-serif);
  --font-headline: var(--font-serif);
  --font-subhead: var(--font-sans);
  --font-interface: var(--font-sans);
  --font-caption: var(--font-sans);
  --font-logo: var(--font-sans);

  --background: white;
  --color: #3c4b4d;
  --color-muted: #6f7e80;
  --color-contrast: black;
  --stroke: #dae5e6;
  --fill: white;
  --link: #489df1;
  --active: mediumblue;
  --highlight: lemonchiffon;
  --highlight-alt: peachpuff;
  --highlight-text: black;
  --callout: #f1f5f5;
  --callout-alt: #cdd3d3;

  --logo-fill: white;
  --logo-stroke: black;
  --logo-stroke-width: 2;

  --svg-white: white;
  --svg-teal-100: #f1f5f5;
  --svg-teal-200: #cdd3d3;
  --svg-teal-300: #6f7e80;
  --svg-teal-400: #506062;
  --svg-blue: #489df1;
}

@supports (font-variation-settings: normal) {
  :root {
    --font-sans: "InterVariable", system-ui, sans-serif;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --hue: 220;

    --background: hsl(var(--hue), 12%, 10%);
    --color: hsl(var(--hue), 4%, 73%);
    --color-muted: hsl(var(--hue), 5%, 60%);
    --color-contrast: hsl(var(--hue), 4%, 100%);
    --stroke: hsl(var(--hue), 8%, 20%);
    --fill: hsl(var(--hue), 12%, 10%);
    --link: dodgerblue;
    --active: aliceblue;
    --highlight: hsl(var(--hue), 18%, 6%);
    --highlight-alt: hsl(var(--hue), 20%, 4%);
    --highlight-text: gold;
    --callout: hsl(var(--hue), 18%, 6%);
    --callout-alt: hsl(var(--hue), 20%, 4%);

    --logo-fill: hsl(var(--hue), 18%, 6%);
    --logo-stroke: hsl(var(--hue), 4%, 73%);
    --logo-stroke-width: 1.5;
  }
}
