:root {
  --font-sans: system-ui, sans-serif;
  --font-serif: Georgia, serif;

  --font-text: var(--font-serif);
  --font-headline: var(--font-sans);
  --font-title: var(--font-sans);
  --font-interface: var(--font-sans);

  --background: white;
  --color: black;
  --color-muted: lightslategrey;
  --stroke: whitesmoke;
  --fill: white;
  --link: dodgerblue;
  --active: mediumblue;
  --highlight: lemonchiffon;
  --highlight-alt: peachpuff;
  --highlight-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --color: white;
    --color-muted: #AAA;
    --stroke: #333;
    --fill: #1A1A1A;
    --link: mediumblue;
    --active: dodgerblue;
    --highlight: #0F0F0F;
    --highlight-alt: #090909;
    --highlight-text: gold;
  }
}
