:root {
  --font-sans: "Output Sans", system-ui, sans-serif;
  --font-serif: "PiazzollaVar", "Piazzolla", ui-serif, Georgia, serif;
  --font-display: "Job Clarendon", ui-serif, Georgia, serif;

  --font-size: calc(0.2vw + 1.2em);

  --line-height: 1.4;
  --line-height-headline: 1.2;

  --font-text: var(--font-serif);
  --font-title: var(--font-display);
  --font-headline: var(--font-sans);
  --font-subhead: var(--font-sans);
  --font-interface: var(--font-sans);
  --font-caption: var(--font-sans);
  --font-logo: var(--font-sans);

  --background: white;
  --color: #3C4B4D;
  --color-muted: #6F7E80;
  --color-contrast: black;
  --stroke: #DAE5E6;
  --fill: white;
  --link: #489DF1;
  --active: mediumblue;
  --highlight: lemonchiffon;
  --highlight-alt: peachpuff;
  --highlight-text: black;
  --callout: #F1F5F5;
  --callout-alt: #CDD3D3;

  --logo-fill: white;
  --logo-stroke: black;
  --logo-stroke-width: 2;

  --svg-white: white;
  --svg-teal-100: #F1F5F5;
  --svg-teal-200: #CDD3D3;
  --svg-teal-300: #6F7E80;
  --svg-teal-400: #506062;
  --svg-blue: #489DF1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --hue: 220;

    --background: hsl(var(--hue), 12%, 10%);
    --color: hsl(var(--hue), 4%, 73%);
    --color-muted: hsl(var(--hue), 5%, 60%);
    --color-contrast: hsl(var(--hue), 4%, 100%);
    --stroke: hsl(var(--hue), 8%, 20%);
    --fill: hsl(var(--hue), 12%, 10%);
    --link: dodgerblue;
    --active: aliceblue;
    --highlight: hsl(var(--hue), 18%, 6%);
    --highlight-alt: hsl(var(--hue), 20%, 4%);
    --highlight-text: gold;
    --callout: hsl(var(--hue), 18%, 6%);
    --callout-alt: hsl(var(--hue), 20%, 4%);

    --logo-fill: hsl(var(--hue), 18%, 6%);
    --logo-stroke: hsl(var(--hue), 4%, 73%);
    --logo-stroke-width: 1.5;
  }
}
