[role=banner] {
  font-family: var(--font-interface);
  margin-bottom: 2rem;
}

[role=banner] h1 {
  margin-top: 0;
}

[role=banner] * {
  font-size: inherit;
}

[role=banner] small a {
  border-width: 2px;
}
