[role=banner] {
  border-top: solid 4px var(--link);
  font-family: var(--font-interface);
}

[role=banner] h1 {
  margin: 0;
}

[role=banner] * {
  font-size: inherit;
}

[role=banner] small a {
  border-width: 2px;
}
