[role=banner] {
  background-color: var(--background);
  font-family: var(--font-interface);
  position: sticky;
  top: 0;
}

[role=banner] h1 {
  margin: 0;
}

[role=banner] * {
  font-size: inherit;
}

[role=banner] small a {
  border-width: 2px;
}
