.books {
  list-style: none;
  margin: 0;
  padding: 0;
  --min: 15ch;
  --max: 1fr;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--min), var(--max)));
  grid-gap: 3rem 2rem;
  font-size: smaller;
}

.books li > * {
  display: block;
  margin: 0;
}

.books li > * + * {
  margin-top: 0.25rem;
}

.books .book-cover {
  box-shadow:
    0 0 0 2px var(--background),
    0 0 0 6px var(--callout);
  margin-bottom: 1rem;
  transition: box-shadow 300ms;
}
.books .book-cover:hover {
  box-shadow:
    0 0 0 2px var(--background),
    0 0 0 6px var(--active);
}

.books .book-cover img {
  display: block;
  max-height: none;
}

.books .book-cover img.sepia {
  filter: sepia(80%) hue-rotate(80deg) saturate(20%) contrast(110%);
  transition: filter 300ms;
}
.books .book-cover:hover img.sepia {
  filter: none;
}

.books .byline {
  font-family: var(--font-serif);
  font-size: 0.9em;
  font-weight: 450;
}
