nav.breadcrumb {
  background-color: var(--callout);
  color: var(--color-muted);
  font-family: var(--font-interface);
  font-size: 0.8em;
  padding: 0.5rem 1rem;
}

@media screen and (min-width: 55ch) {
  nav.breadcrumb {
    padding: 0.5rem 5vw;
  }
}

.breadcrumb {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  max-width: none;
}
.breadcrumb li {
  display: flex;
}
.breadcrumb li:not(:last-child)::after {
  content: '→';
  margin: 0 0.5em;
}
.breadcrumb a {
  text-decoration-color: var(--stroke);
}
.breadcrumb a:hover {
  text-decoration-color: currentColor;
}

.breadcrumb .active a {
  text-decoration: none;
}
