ul.courses {
  list-style: none;
  margin: 0;
  padding: 0;
  max-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(11rem, 1fr));
  grid-auto-rows: minmax(8rem, auto);
  gap: 1.25rem;
  user-select: none;
}
.courses li {
  display: contents;
}
.course {
  background: var(--fill);
  border: none;
  border-radius: 1px;
  box-shadow:
    0 0 0 3px var(--background),
    0 0 0 5px var(--stroke)
  ;
  color: var(--color);
  font-weight: bold;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: box-shadow 300ms;
}
a.course:hover {
  --stroke: var(--active);
}

.uxui0818 {
  --color: white;
  --fill: #c059af;
}

.uxui1018 {
  --color: white;
  --fill: #599dc0;
}

.uxui0119 {
  --color: white;
  --fill: #cc334d;
}

.uxui0419 {
  --color: white;
  --fill: #cc005f;
}

.uxui0619 {
  --transparent: transparent;
  --goldenrod: #ffc003;
  --pumpkin: #f58c0c;
  --indigo: #6018f0;
  --white: #ffffff;
  --pale: #eef2f6;
  --slate: #465967;
  --dark: #273039;
  --black: #000000;

  --color: var(--black);
  --fill: var(--goldenrod);
}

.uxui1019 {
  --white: #FFFFFF;
  --pale: #EEF2F6;
  --slate: #495764;
  --black: #000000;
  --royal: #007FFF;
  --plum: hsl( 230, 95%, 45%);

  --color: var(--white);
  --fill: var(--royal);
}

.uxui0120 {
  --white: #FFFFFF;
  --pale: #EEF2F6;
  --slate: #495764;
  --black: #000000;
  --royal: #007FFF;
  --plum: hsl( 230, 95%, 45%);

  --color: var(--white);
  --fill: var(--plum);
}
