.illo {
  display: block;
  position: relative;
  margin: -3px;
}

.illo img {
  display: block;
  width: 100%;
  border-radius: 0.5rem;
}

.illo::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  border: solid 2px var(--stroke);
  box-shadow: inset 0 0 0 3px white;
  transition: border-color 350ms;
}

a.illo:hover::after {
  border-color: var(--active);
}
