.logo {
  font-family: var(--font-logo);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}

.logo svg {
  height: 32px;
}

.logo a {
  display: flex;
  text-decoration: none;
}

.logo a > * + * {
  margin-left: 16px;
}
