nav.primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  border-bottom: solid 2px var(--stroke);
  padding: 1rem;
  background-color: var(--callout);
}
@media screen and (min-width: 55ch) {
  nav.primary {
    padding: 1rem 5vw;
  }
}

nav.primary a.active {
  text-decoration: underline;
}

nav.main-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.75em;
  font-weight: 700;
}

nav.main-nav :not(:last-child) {
  margin-right: 1em;
}

nav.main-nav a {
  padding: 0.25em 0;
  text-decoration: none;
}
