nav.primary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 1.125em;
  justify-content: space-between;
  align-items: stretch;
  border-bottom: solid 1px var(--stroke);
  padding: 0 0.75rem;
}
@media screen and (min-width: 55ch) {
  nav.primary {
    padding: 0 5vw;
  }
}

nav.primary a {
  padding: 1.5rem 0;
}

nav.main-nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
  font-weight: 450;
}

nav.main-nav :not(:last-child) {
}

nav.main-nav a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.75em 1em;
  text-decoration: none;
}

nav.main-nav a:hover {
  color: var(--color-contrast);
}

nav.primary a.active {
  border-bottom: solid 4px var(--link);
  border-top: solid 4px rgba(0,0,0,0);
  color: var(--color-contrast);
  font-weight: 650;
}
