.promo {
  background-color: var(--callout);
  border-bottom: solid 1px var(--stroke);
  font-family: var(--font-sans);
  font-size: 0.75rem;
}

.promo a {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  padding: 0.75rem;
  text-decoration: none;
}
@media screen and (min-width: 55ch) {
  .promo a {
    padding: 0.75rem 5vw;
  }
}

.promo a::after {
  content: '→';
}

.promo mark {
  border: solid 2px var(--stroke);
  border-radius: 4px;
  color: inherit;
  font-size: smaller;
  font-weight: 550;
  padding: 0.5em 0.75em 0.25em;
  white-space: nowrap;
}

.promo strong {
  font-weight: 550;
  white-space: nowrap;
}

.promo em {
  font-style: normal;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 2px;
  text-decoration-color: var(--link);
  white-space: nowrap;
}

.promo a:hover em {
  text-decoration-color: var(--active);
}