:root {
  --font: system-ui, sans-serif;
  --font-display: Georgia, serif;

  --background: white;
  --color: black;
  --color-muted: #999;
  --stroke: #EEE;
  --fill: white;
  --link: dodgerblue;
  --active: mediumblue;
  --highlight: lightyellow;
  --highlight-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --color: white;
    --color-muted: #AAA;
    --stroke: #333;
    --fill: #1A1A1A;
    --link: mediumblue;
    --active: dodgerblue;
    --highlight: black;
    --highlight-text: gold;
  }
}
