:root {
  --background: #FFF;
  --color: #000;
  --color-muted: #999;
  --stroke: #EEE;
  --fill: #FFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #1A1A1A;
    --color: #FFF;
    --color-muted: #CCC;
    --stroke: #333;
    --fill: #1A1A1A;
  }
}
