<ol class="breadcrumb">
  {{ template "breadcrumbnav" (dict "p1" . "p2" .) }}
</ol>
{{ define "breadcrumbnav" }}
{{ if .p1.Parent }}
{{ template "breadcrumbnav" (dict "p1" .p1.Parent "p2" .p2 )  }}
{{ else if not .p1.IsHome }}
{{ template "breadcrumbnav" (dict "p1" .p1.Site.Home "p2" .p2 )  }}
{{ end }}
<li{{ if eq .p1 .p2 }} class="active"{{ end }}>
  <a href="{{ .p1.RelPermalink }}">
    {{- if .p1.IsHome -}}
      Home
    {{- else if .p1.Title -}}
      {{- .p1.Title | markdownify -}}
    {{- else -}}
      {{- .p1.Date.Format "Mon 2 Jan 2006" -}}
    {{- end -}}
  </a>
</li>
{{ end }}
