<!-- Groups content according to content section.-->
{{ range .Pages.GroupBy "Section" }}
  <!-- Checks for existence of _index.md for a section; if available, pulls from "title" in front matter -->
  {{ with $.Site.GetPage "section" .Key }}
    <h3>{{ .Title | markdownify }}</h3>
  {{ else }}
    <!-- If no _index.md is available, ".Key" defaults to the section title and filters to title casing -->
    <h3>{{ .Key | title }}</h3>
  {{ end }}
  <ul>
      {{ range .Pages }}
      <li>
        {{ if isset .Params "link" -}}
          <h4>
            <a class="external" href="{{ .Params.link }}">{{ .Title | markdownify }}</a>
            <small><a class="permalink" href="{{ .RelPermalink }}" title="Permalink for {{ .Title | markdownify }}">∞</a></small>
          </h4>
        {{- else -}}
          <h4><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a></h4>
        {{- end }}
        {{ with .Description }}
          <p>{{ . | markdownify }}</p>
        {{ end }}
        {{ partial "meta.html" . }}
      </li>
      {{ end }}
  </ul>
{{ end }}
