<div class="meta">
  {{ with .Params.authors }}
    <cite class="byline">
      {{- "" -}}by {{ "" -}}
      {{- range $i, $author := . -}}
        {{- if $i -}}, {{ end -}}
        <a class="author" href="/authors/{{ $author | urlize }}/">{{ $author }}</a>
      {{- end -}}
    </cite>
  {{ end }}
  {{ with .Params.sources }}
    <span class="source">from <a class="source-title" href="/sources/{{ . | urlize }}/">{{ . }}</a></span>
  {{ end }}
  {{ with .Params.link }}
    {{ $url := urls.Parse . }}
    <small class="source-url">{{ strings.TrimPrefix "www." $url.Host }}</small>
  {{ end }}
  {{ with .GetTerms "topics" }}
    <ul class="tags">
      {{ range . }}
        <li><a href="{{ .Permalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
</div>
