<div class="meta">
  {{ with .GetTerms "authors" }}
    <cite class="byline">
      {{- "" -}}by {{ "" -}}
      {{- range $i, $author := . -}}
        {{- if $i -}}, {{ end -}}
        <a class="author" href="{{ $author.RelPermalink }}/">{{ $author.LinkTitle }}</a>
      {{- end -}}
    </cite>
  {{ end }}
  {{ with .GetTerms "sources" }}
    {{ range . }}
      <span class="source">from <a class="source-title" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
    {{ end }}
  {{ end }}
  {{ with .Params.link }}
    {{ $url := urls.Parse . }}
    <small class="source-url">{{ strings.TrimPrefix "www." $url.Host }}</small>
  {{ end }}
  {{ with .GetTerms "topics" }}
    <ul class="tags">
      {{ range . }}
        <li><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></li>
      {{ end }}
    </ul>
  {{ end }}
</div>
